.Background{  
  min-height: 100vh;
  min-width: 100vw;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -9;
  inset: 0;

}
.Background::after{
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(farthest-side at 90% 5%, transparent 0%, rgba(6, 6, 19, 0) 10%, #060613 90%);
}

.section-movie{
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 7rem;
  margin-left: 5rem;
}
.details-top{
  display: flex;

}
.details-top div:nth-child(2){
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-left: 2rem;
}
.details--bottom{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width:55%;
  color: rgb(169, 164, 164);
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.movie-title{
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 800;
  color: white;
  
}

.movie-average{
  width: max-content;
  padding: 1rem;
  min-width: 30px;
  font-size: 20px;
  background-color: #3774B1;
  border-radius: 10px;
  font-weight: 800;
  color: white;
}

.movie-sinopsis{
  font-size: 16px;
  font-weight: 400;
}