.ListOfMovies {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Peliculas {
  display: grid;
  place-content: center;
  width: 70%;

}
.Peliculas.Posters {
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 4rem;
}

.Peliculas.Caratula {
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 3rem;
}
