
.Header {
  display: flex;

  width: 100%;
  background-color: transparent;
  position: relative;
  z-index: 99;
}

.nav-menu {
  text-decoration: none;
  list-style: none;
  display: flex;
  color: black;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  text-transform: uppercase;
}

